*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: azure;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://www.joshmorony.com/images/backgrounds/shapes-mac-tab.png");
    background-size: cover;
    background-position: center;
}
.top{
    width: 100%;
    min-height: 60vh;
    
}
#overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
     background-color: rgba(0, 0, 0, 0.38); 
}
#text{
    position: absolute;
    bottom: 20%;
    width: 100%;
    min-height: inherit;
    padding-left: 20vh;
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text h1{
    font-size: 5vw;
    color: rgb(34, 213, 189);
    transition: 0.3s;
}
.bottom{
    width: 100%;
    min-height: 40vh;
    display: flex;
}
#rtext{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 2vw;
    flex-direction: column;
}
#rtext p{
    width: 40%;
    margin-top: 30px;
}

#rtext a{
    text-decoration: none;
}

.D1{
    width: 100%;
    min-height: inherit;
    background-color: #e3daed3e;
    padding: 30px;
    border: 0.5px solid black;
    margin: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.D1 h3{
    color: rgb(2, 2, 2);
    padding-bottom: 10px;
    font-size: 3vw;
    animation: ani 2s infinite;

}
.D1 p{
    font-size: 2vw;
}

.D2{
    margin: 5px;
    border-radius: 20px;
    width: 100%;
    min-height: inherit;
    background-image: url("https://images.unsplash.com/photo-1521499892833-773a6c6fd0b8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aXRlbXxlbnwwfHwwfHx8MA%3D%3D");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid black;
    margin-bottom: 10px;
}
.D2 #arrow i{
    font-size: 3vw;
    
    color: black
}
.D2 #tex{
    font-size: 5vh;
    margin-bottom: 40%;
    padding-left: 10px;
}
.D2 .ri-arrow-left-circle-fill{
    padding-right: 30px;
}

.D3{
    width: 100%;
    min-height: inherit;
    background-color: #53385d7e;
    border: 0.5px solid black;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.D3 p{
    padding: 30px;
    font-size: 5vh;
}
.D3 #more i{
    font-size: 5vw;
}
.D4{
    width: 100%;
    min-height: inherit;
    background-color: black;
    border: 01px solid black;
    margin: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    animation: bord 1s infinite;
}
.D4 .icon{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 30px;
    padding-left: 10px;
    flex-direction: column;
    font-size: large;
}
.D4 a{
    text-decoration: none;
}
#par{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 3vw;
}
#text h1:hover{
   color:azure;
}
@keyframes bord {
    
        50% {border-color: lightblue;}
}
@media(max-width: 600px){
    .top{
            height: 100vh;
            border: 1px soild black;
            border-radius: 20px;
    }
    #overlay{
        height: 100vh;
    }
    #overlay #text {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1vh;
        justify-content: center;
    }
    #overlay #text h1{
        font-size: 10vw;
        padding-bottom: 30px;
    }
    #overlay #text #rtext{
        font-size: 5vw;
        width: inherit;
    }
    #overlay #text #rtext p{
        width: 60%;
    }
    .bottom{
        flex-direction: column;
    }
    .bottom .D1{
        margin: 0;
        border-radius: 0;
    }
    .bottom .D2{
        margin: 0;
        border-radius: 0;
    }
    .bottom .D3{
        margin: 0;
        border-radius: 0;
    }
    .bottom .D4{
        margin: 0;
        border-radius: 0;
    }

    .bottom .D1 h3{
        font-size: 5vh;
    }
    .bottom .D1 p{
        font-size: 3vh;
        color: darkslategray;
    }
    
    .bottom .D2 #tex{
        font-size: 5vh;
    }
    .bottom .D2 #arrow i{
        font-size: 5vh;
    }
    .bottom .D3 p{
        font-size: 10vh;
    }
    .bottom .D4 i{
        font-size: 3.5vh; 
    }
    .bottom .D4 .icon{
        display: flex;
        justify-content: center;
        align-items: self-start;
        flex-direction: column;
        
    }
    .bottom .D4 a{
        text-decoration: none;
    }
    .bottom .D4 #par{
        font-size: 8vh
    }
    .bottom .D3 #more i{
        font-size: 10vw;
    }

}

